.map__container {
  padding-top: 50px;
  height: 700px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 220px;
}

.map__map {
  height: 100%;
  width: 100%;
}

.map__header {
  margin-top: 200px;
  margin-left: 100px;
  font-size: 40px;
  font-family: "Roboto-Medium";
}
