.map__container {
  padding-top: 200px;
  height: 700px;
  width: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 220px;
}

.map__map {
  height: 100%;
  width: 100%;
}
