.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 0 19px;
  font-family: "Inter", "Times New Roman", Serif;
  display: flex;
}

.modal_opened {
  visibility: visible;
  opacity: 1;

  transition: visibility 0s, opacity 0.5s;
}

.modal__container {
  position: relative;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 1);
  padding: 36px;
  width: 500px;
}

.modal__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__list-item {
  color: #fff;
  margin-bottom: 15px;
  font-size: 12px;
}

.modal__card-title {
  margin: 0;
  margin-bottom: 5px;
}

.modal__close {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  height: 40px;
  width: 40px;
  background-image: url(../images/close-icon\ copy.svg);
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0;
  transition: opacity 0.35s;
}

.modal__submit-button {
  background-color: #fff;
  width: 200px;
  margin: auto;
  color: #000;
}

.modal__image {
  height: 100%;
  width: 100%;
}

.modal__image-container {
  height: 300px;
  width: 500px;
  background-image: url("../images/travel-route.png");
  background-size: cover;
}
